.card{
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 10px 10px 30px #00000030;
    margin: 10px auto;
    position: relative;
}

.card .content{
    padding: 20px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.card.hajjUmrah .content , .card.hajj .content{
    background-image: url("../../../public/cardBackgrounds/hajjumrahDesktop.png");
}

.card.iraq.sunni .content{
    background-image: url("../../../public/cardBackgrounds/iraqDesktop.png");
}

.card.iraq.shia .content{
    background-image: url("../../../public/cardBackgrounds/iraqZiyaratbg.png");
}

.card.turkey .content{
    background-image: url("../../../public/cardBackgrounds/tur.png");
}

.card h2{
    font-weight: 700;
    font-size: 1.4rem;
}

.callToActionYellow{
    background-color: var(--light-yellow);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
    font-size: 1rem;
}

.beforeFooter{
    background-color: var(--light-green);
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
    color: #fff;
    min-height: 95px;
    position: relative;
}

.beforeFooterSection{
    width: 48%;
    padding: 0 10px;
}

.beforeHeaderSectionHeading{
    font-size: 1.3rem;
    font-weight: 500;
}

.beforeHeaderSectionContent{
    font-size: 0.9rem;
}


.footer , .footerSectionData{
    background-color: var(--dark-green);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.footerSectionData{
    background-image: linear-gradient(90deg , var(--dark-green) , #00af70);
}
.footertext{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
}

.footerButton , .flightButton{
    background-color: #fff;
    border: 2px solid #fff;
    color: var(--dark-green);
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
    min-width: 130px;
}

.flightButton{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.footerButton:hover{
    background-color: var(--dark-green);
    color: #fff;
}

.quickEditBar{
    top: -50px;
    z-index: 20;
    background-color: var(--light-green);
    color: #fff;
    width: 100%;
    padding: 0 10px;
}

.vendorList , .iconBox{
    width: 50%;
}

.iconBox{
    justify-content: flex-end !important;
}

.icon{
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.pricingHeading{
    font-size: 1rem;
    font-weight: 600;
}

.pricingAmount , .pricingAmountMo{
    font-size: 0.8rem;
}

.pricingAmountMo{
    display: none;
}

.pricingFinal{
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--light-yellow) ;
}
.shuttelicon{
    display: flex;
    color: #fff;
    font-size: 0.8rem;
    background: linear-gradient(
        110deg,
        #2ecc71 40%,
        #7bed9f 50%,
        #2ecc71 60%
    );
    animation: shimmer 4s infinite linear;
    padding: 0 8px;
    border-radius: 50px;
    display: inline-block;
    background-size: 200% 100%;
}

.sectionTitle{
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient(
        110deg,
        #2ecc71 40%,
        #7bed9f 50%,
        #2ecc71 60%
    );
    display: inline-block;
    background-size: 200% 100%;
    padding: 0 8px;
    border-radius: 50px;
    animation: shimmer 4s infinite linear;
    margin-top: 3px;
}

@keyframes shimmer {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: -200% 0;
    }
}

.sectionPrice{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
    margin-left: 5px;
}

.sectionWrapper{
    position: relative;
    width: 100%;
}

.sectionDataCardHolder{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.hotelHotelWrapper{
    width: 66%;
    display: flex;
}
.pricingWrapper{
    width: 33%;
}
.sectionCard{
    padding: 5px;
    width: 100%;
}

.sectionHotel{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
}

.sectionSubHeading{
    color: #ffffff;
    font-size: 0.9rem;
}
@media only screen and (max-width:630px){
.sectionDataCardHolder{
    flex-direction: column;
}
.hotelHotelWrapper{
    width: 100%;
    display: flex;
}
.pricingWrapper{
    width: 100%;
}
.pricingWrapper .sectionCard{
    display: flex;
}

.pricingWrapper .sectionCard .sectionTitle{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricingWrapper .sectionCard .sectionPrice{
    font-size: 1.4rem;
}
}

@media only screen and (max-width:430px){
    /* .shuttelicon span{
        display: none;
    } */
    .sectionSubHeading{
        font-size: 0.7rem;
    }
    .hideMob{
        display: none;
    }
}
@media only screen and (max-width:600px){
    .beforeFooter{
        flex-direction: column;
    }

    .beforeFooterSection{
        margin: 10px 0;
        width: 100%;
    }

    .pricingAmount{
        display: none;
    }

    .pricingAmountMo{
        display: block;
    }
}