.navBar{
    padding: 10px 20px;
    box-shadow: 0 10px 20px #00000020;
    margin-bottom: 30px !important;
}

.mainMenu{
    width: 100%;
}

.facebook{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--primary-blue);
    margin-right: 10px;
}

.facebook a{
    color: inherit;
}

.facebook a:focus , .facebook a:active ,  .facebook a:visited{
    color: var(--primary-blue);
}

.mainMenu ul li{
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.mainMenu ul li.active{
    background-color: #00000010;
}

.w20{
    width: 20% !important;
}

.w40{
    width: 40% !important;
}

@media only screen and (max-width:1040px) {
    .mainMenu{
        display: none;
    }

    .w20 , .w40{
        width: 100% !important;
        justify-content: flex-end !important;
    }
}