.navBar{
    padding: 10px 20px;
    box-shadow: 0 10px 20px #00000020;
    margin-bottom: 30px !important;
}

.facebook{
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--primary-blue);
}

.facebook a{
    color: inherit;
}

.facebook a:focus , .facebook a:active ,  .facebook a:visited{
    color: var(--primary-blue);
}

.mainMenu ul li{
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.mainMenu ul li.active{
    background-color: #00000010;
}