.navBar{
    padding: 10px 20px;
    box-shadow: 0 10px 20px #00000020;
    margin-bottom: 0px !important;
    position: relative;
}

.mainMenu{
    width: 100%;
}

.facebook{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--primary-blue);
    margin-right: 10px;
}

.facebook a{
    color: inherit;
}

.facebook a:focus , .facebook a:active ,  .facebook a:visited{
    color: var(--primary-blue);
}

.mainMenu ul li{
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.mainMenu ul li.active{
    background-color: #00000010;
}

.w20{
    width: 20% !important;
}

.w40{
    width: 40% !important;
}

.hamMenu{
    font-size: 1.6rem;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.notVisible{
    display: none !important;
}

.lowerNav{
    width: 55%;
    margin-left: auto;
    border-bottom-left-radius: 30px;
padding: 10px 0;
background-color: var(--primary-blue);
color: #fff;
margin-bottom: 30px;
box-shadow: 0 10px 20px #00000020;

}

.itemsD{
    display: none;
}

.lowerNavWrapper{
    width: 100%;
    position: relative;
}

.searchBar{
    width: 100%;
}

.searchBar input{
    background-color: #f8f8f8;
    border: none;
    outline: none;
    padding: 10px;
    width: 400px;
    box-shadow: 0px 5px 10px #00000010;
    border-radius: 5px;
    border-bottom: 3px solid var(--primary-blue);
}

.sugg{
    position: absolute;
    top: 60px;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 5px 10px #00000020;
    padding: 10px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: scroll;
    margin-left: 40px;
}

.searchCard{
    background-color: #f8f8f8;
    margin: 5px 0;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
}

.searchCard:hover{
    background-color: #eeeeee;
}

.searchText{
    font-weight: bold;
}

.searchLink{
    font-size: small;
    color: #444444;
}

.searchIcon{
    margin: 10px;
    margin-top: 20px;
    background-color: #eeeeee;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:1040px) {
    .mainMenu{
        position: absolute;
        z-index: 100;
        background-color: #fff;
        top: 100%;
        right: 0;
        left: 0;
        margin: 0;
        width: 100%;
    }
    .navBar{
        justify-content: flex-start !important;
    }

    .lowerNavWrapper{
        display: none;
    }
    .hamMenu{
        display: flex;
    }

    .itemsD{
        display: block;
    }

    .mainMenu > ul > li{
        width: 100%;
    }
    .w20 , .w40{
        display: none;
    }
}